    <meta charset="UTF-8">
    <meta name="description" content="{{ site.meta.description }}">
    <!-- <meta name="keywords" content="Graphic designer, portfolio, resume, cv"> -->
    <meta name="author" content="{{ site.meta.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.meta.title }}</title>
    <link rel="canonical" href="{{ site.meta.canonical }}">

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="My Designs" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.14.2/dist/gsap.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="slick/slick.css">
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"> -->
    <link rel="stylesheet" type="text/css" href="fancybox.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
